body {
	background: url(12_col.gif) center top repeat-y;
	background-size: 90%;
}
section {
	border: 1px solid #333;
}
.section1 {
	grid-area: Header;
}
.section2 {
	grid-area: Box1;
}
.section3 {
	grid-area: Box2;
}
.section4 {
	grid-area: Box3;
}
.section5 {
	grid-area: content1;
}
.section6 {
	grid-area: sidebar;
}
.section7 {
	grid-area: footersection1; 
}
.section8 {
	grid-area: footersection2;
}
.section9 {
	grid-area: footersection3;
}
.section10 {
	grid-area: footersection4;
}
.footer {
	grid-area: footer1;
	}
	.footer {
	border: 1px solid #262626;	
	padding:10px;
	display: grid;
	grid-template-columns:  repeat(12,1fr);
	grid-template-rows: repeat(1,200px);
	grid-template-areas:

		"footersection1 footersection1 footersection1 footersection2 footersection2 footersection2 footersection3 footersection3 footersection3 footersection4 footersection4 footersection4";
grid-gap: 1%;
}
.container {
	width: 90%;
	margin: 20px auto;
	display: grid;
	grid-template-columns:  repeat(12, 1fr);
	grid-template-rows: repeat(3,200px);
	grid-template-areas:
		"Header Header Header Header Header Header Header Header Header Header Header Header"
		"Box1 Box1 Box2 Box2 Box2 Box2 Box2 Box2 Box2 Box2 Box3 Box3"
		"content1 content1 content1 content1 content1 content1 content1 content1 content1 sidebar sidebar sidebar"
		"footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1"

		;
grid-gap: 1%;
}
/*Mindre desktopskärmar
*/
@media only screen and (max-width: 1200px) and (min-width: 960px) {
	.container {
	width: 90%;
	margin: 20px auto;
	display: grid;
	grid-template-columns:  repeat(12, 1fr);
	grid-template-rows: repeat(3,200px);
	grid-template-areas:
		"Header Header Header Header Header Header Header Header Header Header Header Header"
		"Box1 Box1 Box1 Box2 Box2 Box2 Box2 Box2 Box2 Box3 Box3 Box3"
		"content1 content1 content1 content1 content1 content1 content1 content1 sidebar sidebar sidebar sidebar"
		"footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1";
}
.footer {
	border: 1px solid #262626;	
	padding:10px;
	display: grid;
	grid-template-columns:  repeat(12,1fr);
	grid-template-rows: repeat(1,200px);
	grid-template-areas:

		"footersection1 footersection1 footersection1 footersection2 footersection2 footersection2 footersection3 footersection3 footersection3 footersection4 footersection4 footersection4";
grid-gap: 1%;
}
}
/*Tablets såsom Ipad*/
@media only screen and (max-width: 960px) and (min-width: 768px) {
	.container {
	width: 90%;
	margin: 20px auto;
	display: grid;
	grid-template-columns:  repeat(12, 1fr);
	grid-template-rows: repeat(3,200px);
	grid-template-areas:
		"Header Header Header Header Header Header Header Header Header Header Header Header"
		"Box1 Box1 Box1 Box1 Box2 Box2 Box2 Box2 Box3 Box3 Box3 Box3"
		"content1 content1 content1 content1 content1 content1 sidebar sidebar sidebar sidebar sidebar sidebar"
		"footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1";
}
.footer {
	border: 1px solid #262626;	
	padding:10px ; 
	display: grid;
	grid-template-columns:  repeat(12,1fr);
	grid-template-rows: repeat(2,200px);
	grid-template-areas:
		"footersection1 footersection1 footersection1 footersection1 footersection1 footersection1 footersection2 footersection2 footersection2 footersection2 footersection2 footersection2"
		"footersection3 footersection3 footersection3 footersection3 footersection3 footersection3 footersection4 footersection4 footersection4 footersection4 footersection4 footersection4";
grid-gap: 1%;
}
}

/*Mobiltelefoner*/
@media only screen and (max-width: 768px) {
	.container {
	width: 90%;
	margin: 20px auto;
	display: grid;
	grid-template-columns:  repeat(12, 1fr);
	grid-template-rows: repeat(6,200px);
	grid-template-areas:
		"Header Header Header Header Header Header Header Header Header Header Header Header"
		"Box1 Box1 Box1 Box1 Box1 Box1 Box1 Box1 Box1 Box1 Box1 Box1"
		"Box2 Box2 Box2 Box2 Box2 Box2 Box2 Box2 Box2 Box2 Box2 Box2"
		"Box3 Box3 Box3 Box3 Box3 Box3 Box3 Box3 Box3 Box3 Box3 Box3"
		"content1 content1 content1 content1 content1 content1 content1 content1 content1 content1 content1 content1"
		"sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
		"footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1";
grid-gap: 1%;
}
.footer {
	border: 1px solid #262626;	
	padding:10px 10px 35px 10px; 
	display: grid;
	grid-template-columns:  repeat(12,1fr);
	grid-template-rows: repeat(4,200px);
	grid-template-areas:
		"footersection1 footersection1 footersection1 footersection1 footersection1 footersection1 footersection1 footersection1 footersection1 footersection1 footersection1 footersection1"
		"footersection2 footersection2 footersection2 footersection2 footersection2 footersection2 footersection2 footersection2 footersection2 footersection2 footersection2 footersection2"
		"footersection3 footersection3 footersection3 footersection3 footersection3 footersection3 footersection3 footersection3 footersection3 footersection3 footersection3 footersection3"
		"footersection4 footersection4 footersection4 footersection4 footersection4 footersection4 footersection4 footersection4 footersection4 footersection4 footersection4 footersection4";
grid-gap: 1%;
}


}


